<div class="container">
	&copy; 2022 - The Well Stacked Pizza Co. - <a asp-controller="Locations" asp-action="Index">Dove siamo</a> - <a asp-controller="Home" asp-action="ContactUs">Contattaci</a> -<a asp-controller="Home" asp-action="Privacy">Privacy</a>
</div>
