@{
	ViewData["Title"] = "Home Page";
}

<div class="container text-center">
	<h1>Menu</h1>
	<p>In GTA San Andreas, the player is given a choice of four different meals at Well Stacked Pizza restaurants. All of the food choices besides the salad are references to breasts: "Buster" is from the word "bust", a word for breasts, or it could be a reference to Ryder's catchphrase. "Double D-Luxe" is from DD, the bra size, and having a "Full Rack" is slang for a woman with large, well-shaped breasts. In Las Venturas, the pricing of the Double D-Luxe, Full Rack and Salad Meal are 20% higher than in the rest of the state.</p>
	<div class="d-flex justify-content-center">
		<input type="search" class="form-control my-3 w-50" placeholder="Cerca pizza..." onkeyup="search()" />
	</div>
	<div class="row row-cols-3 gy-3"></div>
</div>
<script>
	const row = document.querySelector('.row');
	axios.get("/api/pizzas/getpizzas")
		.then(function(res) {
			const arrPizzas = res.data;
			arrPizzas.forEach((pizza) => {
				const newCol = document.createElement("div");
				newCol.classList.add("col");
				newCol.innerHTML =
					`<div class="card h-100">
						<div class="card-body">
							<a href="/home/details/?id=${pizza.pizzaId}">
								<h5 class="card-title">${pizza.name}</h5>
							</a>
							<p class="card-text">${pizza.description}</p>
						</div>
						<img src="${pizza.imgPath}" class="card-img-top" alt="pizza">
						<div class="card-text">${pizza.price}</div>
					</div>`;
				row.append(newCol);
			});
		});

	function search() {
		row.innerHTML = "";
		const inputValue = document.querySelector('input').value;
		axios.get("/api/pizzas/getpizzas", { params: { searched: inputValue } })
			.then(function(res) {
				const arrPizzas = res.data;
				arrPizzas.forEach((pizza) => {
					const newCol = document.createElement("div");
					newCol.classList.add("col");
					newCol.innerHTML =
						`<div class="card h-100">
							<div class="card-body">
								<a href="/pizze/details/?id=${pizza.pizzaId}">
									<h5 class="card-title">${pizza.name}</h5>
								</a>
								<p class="card-text">${pizza.description}</p>
							</div>
							<img src="${pizza.imgPath}" class="card-img-top" alt="pizza">
							<div class="card-text">${pizza.price}</div>
						</div>`;
					row.append(newCol);
				});
			});
	}
</script>
